* {
    box-sizing: border-box;
}

.main {
    background-color: #fafafa;

    .navBar {
        width: 100%;
        height: 54px;
        background-color: white;
        border: 2px solid #e6e6e6;
    }

    .contents {
        position: relative;

        .feeds {
            width: 614px;

            article {
                width: 100%;
                position: relative;
                height: auto;
                border: 2px solid #e6e6e6;
                border-radius: 3px;

                .topTitle {
                    width: 100%;
                    height: auto;
                    margin: 16px;

                    img {
                        vertical-align: middle;
                        width: 32px;
                        height: auto;
                        border-radius: 70%;
                        margin-right: 20px;
                    }

                    h1 {
                        display: inline;
                        font-size: 14px;
                        font-weight: 500;
                    }

                }

                .imgSection {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .communicationSection {
                    .likeSection {
                        position: relative;

                        img {
                            width: 24px;
                            height: auto;
                            margin: 8px;
                        }

                        .scrapIcon {
                            position: absolute;
                            right: 0;
                        }
                    }

                    .followerSection {
                        img {
                            vertical-align: middle;
                            width: 24px;
                            margin: 8px;
                        }

                        h1 {
                            display: inline;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }

                    .descrpitSection {
                        margin: 0 10px;

                        .descriptContent {
                            
                            span {
                                font-size: 14px;
                                
                                a {
                                    font-size: 14px;
                                    margin-right: 5px;
                                }
                            
                            }
                        }
                    }

                    .feedTime {
                        margin: 0 10px;

                        span {
                            font-size: 10px;
                        }
                    }

                    .commentSection {
                        position: relative;
                        width: 100%;
                        height: 56px;
                        border-top: 2px solid #e6e6e6;
                        padding: 0 10px;

                        input {
                            background-color: transparent;
                            position: absolute;
                            bottom: 17px;
                            display: inline;
                            border: none;
                            font-size: 14px;
                        }

                        input:focus { outline: none; }

                        .commentBtn {
                            position: absolute;
                            font-size: 14px;
                            font-weight: 700;
                            right: 5px;
                            bottom: 17px;
                            border: none;
                            outline: 0;
                            color: #0095f6;
                            opacity: 0.3;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}